section {
    text-align: center;
}

.container {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 168px;
    margin-left: 45%;
}

.cell {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    background: gold;
    text-align: center;
}

.reset-btn {
    margin-top: 10px;
    width: 120px;
    height: 50px;
    padding: 10px;
    background: green;
    color: white;
    border: 0;
}

#status {
    margin-top: 10px;
    color: black;
}